## **Variables**
Python doesn't need you to explicitly define the type of a variable when assigning a value to it. It infers the type automatically
You can even change the type of the value assigned to a variable without any issues.

In [31]:
a = 6
type(a)

int

In [32]:
a = "int"
type(a)

str

#### **Note**: 2 functions, type() and help()
help() tells us the documentation related to that object(if present)
type() tells us the type of the object

### Typecasting
If you want a variable to be of a particular type, you can cast it to the type you want

In [34]:
b = int(5)
c = int('5')

In [63]:
help(int)

NameError: name 'k' is not defined

#### **Note**: 
The '/' in the function definitions:

In [37]:
def myfun(a, b):
    return a + b

def myfun_bs(a, b, /):
    return a + b

In [39]:
print(myfun(4, 6))
print(myfun(a=5, b=3))
print(myfun(b=8, a=10))

10
8
18

In [40]:
print(myfun_bs(4, 6))
print(myfun_bs(a=5, b=3))
print(myfun_bs(b=8, a=10))

10

TypeError: myfun_bs() got some positional-only arguments passed as keyword arguments: 'a, b'

### Pattern matching in python

In [41]:
a, b, c = 5, 3, 8
print(f"b is {b}")

my_list = ["tanmay", "sahoo"]
[x, y] = my_list
print(f"x is {x} and y is {y}")

b is 3
x is tanmay and y is sahoo

#### **while, if** and **for** syntax

if

    if condition:
        statement
    elif:
        another statement
    else:
        yet another statment
shorthand if        

    statement1 if condition else statement2
while statement

    while condition:
        statement
    else:
        statement
for

    for i in collection:
        statements
        
#### **Note**:
range(start, end, stop) returns a collection of values and is used a lot with for loops.

## **Basic data types in python**:
Some of the data types that python provides us are:

Text Type: str
Numeric Types: int, float, complex
Sequence Types: list, tuple, range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes, bytearray, memoryview
None Type: NoneType
(Snippet taken from https://www.w3schools.com/python/python_datatypes.asp)

Are all of them mutable?

You can use the variable names to represent a different value for any data type, however for some types the object itself can change, for some it HAS to be a new object.

In [60]:
list_is_mutable = ["x280", "p470"]
print(id(list_is_mutable))
list_is_mutable += ["p470mc8", "p470mc16"]
print(id(list_is_mutable))

140407694024064
140407694024064

In [61]:
tuple_is_not = ("x280", "p470")
print(id(tuple_is_not))
tuple_is_not += ("p470mc8", "p470mc16")
print(id(tuple_is_not))

140407693989312
140407694033520

Numbers, strings, tuples, frozen sets are immutable among the already defined types
For user defined types, it depends on the user themselves how they want to define it

**Helpful functions**:
isinstance and assert

In [42]:
isinstance(a, int)

True

In [47]:
#Assert is more of a keyword, not function
assert type(a) == int, "a is not an int"
assert type(a) == str, "b is not a str"
#To read more on use of assert: https://realpython.com/python-assert-statement/

AssertionError: b is not a str

### Numeric Types — int, float, complex
There are three distinct numeric types: integers, floating point numbers, and complex numbers. 

In addition, Booleans are a subtype of integers. Integers have unlimited precision. 
Floating point numbers are usually implemented using double in C; information about the precision and internal representation of floating point numbers for the machine on which your program is running is available in sys.float_info. 
Complex numbers have a real and imaginary part, which are each a floating point number.

### **Lists**
List slicing:

In [4]:
our_list = ["bunch", "of", "words", "which", "also", "allow", "duplicates", ]
print(our_list[::])
print(our_list[:3])
print(our_list[3:])
print(our_list[0:7:2])
print(our_list[2:5])
print(our_list[-5:-2])

['bunch', 'of', 'words', 'which', 'also', 'allow', 'duplicates']
['bunch', 'of', 'words']
['which', 'also', 'allow', 'duplicates']
['bunch', 'words', 'also', 'duplicates']
['words', 'which', 'also']
['words', 'which', 'also']

To add elements to a list at the end, use *append*. To add them at a particular index, use *insert*

To remove elements based on index, use *pop*. To remove them based on the value, use *remove*

*del* can remove certain elements or the whole list itself

*clear* clears the list, as intended lol

In [7]:
our_list = ["now", "this", "looks", "like", "a", "list"]
our_list.append("duplicates")
print(f"our list is now {our_list}")
our_list.insert(2, "of")
print(f"our list is now {our_list}")
our_list.pop(2)
print(f"our list is now {our_list}")
our_list.remove("duplicates")
print(f"our list is now {our_list}")
our_list.remove("sike!")
print(f"our list is now {our_list}")
our_list.clear()
print(f"our list is now {our_list}")
del our_list[2]
print(f"our list is now {our_list}")
del our_list
print(f"our list is now {our_list}")

our list is now ['now', 'this', 'looks', 'like', 'a', 'list', 'duplicates']
our list is now ['now', 'this', 'of', 'looks', 'like', 'a', 'list', 'duplicates']
our list is now ['now', 'this', 'looks', 'like', 'a', 'list', 'duplicates']
our list is now ['now', 'this', 'looks', 'like', 'a', 'list']

ValueError: list.remove(x): x not in list

**List comprehensions**

A way to generate new lists

In [43]:
#Let's say we have a list of numbers and from that need the list of all even ones
original_list = [1, 43, 15, 62, 21, 18, 98, 45, 100]
#method 1

list_old_method = []
for i in original_list:
    if i % 2 == 0:
        list_old_method.append(i)
            
print(list_old_method)

#method 2
list_new_method = [x for x in original_list if x % 2 == 0]
print(list_new_method)

[62, 18, 98, 100]
[62, 18, 98, 100]

**Sort**

In python script, sort is a built-in attribute provided for the list object. The algorithm used for it is tim-sort, a hybrid of merge sort and insertion sort. 
Syntax:

    sort(*, key=None, reverse=False)
key is a function that takes one parameter and the sort method applies that to each element of the list before sorting it. 
If the reverse is set as true, it sorts the elements in descending order (after taking the key into consideration)

Keep in mind that sort has return type None. It sorts the list in place

In [59]:
def sort_fun(a):
    return abs(a)
list_sort = [-10, 67, -103, 12, -56, 45, 100]
print(f"old id is {id(list_sort)}")

list_sort.sort(key = sort_fun)
print(list_sort)
print(f"new id is {id(list_sort)}")

list_sort.sort(key=sort_fun, reverse=True)
print(list_sort)

old id is 4420510336
[-10, 12, 45, -56, 67, 100, -103]
new id is 4420510336
[-103, 100, 67, -56, 45, 12, -10]

### **Tuples**
Tuples are immutable sequences, typically used to store collections of heterogeneous data (such as the 2-tuples produced by the enumerate() built-in). Tuples are also used for cases where an immutable sequence of homogeneous data is needed (such as allowing storage in a set or dict instance).
They are indexed and unordered.

Tuples may be constructed in a number of ways:

1. Using a pair of parentheses to denote the empty tuple: ()
2. Using a trailing comma for a singleton tuple: a, or (a,)
3. Separating items with commas: a, b, c or (a, b, c)
4. Using the tuple() built-in: tuple() or tuple(iterable)

In [108]:
print(tuple((1, 2,4) + (4, 5, 6)))
mylist = [1, 2, 3, 4, 5,5]
print(tuple(mylist))

(1, 2, 4, 4, 5, 6)
(1, 2, 3, 4, 5, 5)

### **Sets**
A set is a collection which is unordered, and unindexed. You cannot change an exisiting element inside a set, but you can add/remove. Sets do not allow duplicates.

To add elements to a set, you can use *add* or *update*

To remove, you use *remove* or *discard*, for a particular element, or *pop* for a random element

In [68]:
sample_set = {"bakri", "bhains", "gai"}

sample_set.add("bail")
print(f"sample_set after add operation is {sample_set}")
sample_set.update(["sher", "cheetah"])
print(f"sample_set after update operation is {sample_set}")
sample_set.remove("bail")
print(f"sample_set after remove operation is {sample_set}")

sample_set after add operation is {'bakri', 'bail', 'bhains', 'gai'}
sample_set after update operation is {'cheetah', 'gai', 'sher', 'bail', 'bakri', 'bhains'}
sample_set after remove operation is {'cheetah', 'gai', 'sher', 'bakri', 'bhains'}

The elements in the sets are hashable(id remains unchanged during lifetime)

In [80]:
sample_set = {"country", "city", "village"}
prev_ids = [id(x) for x in sample_set]
prev_ids.sort()
sample_set.discard("city")
new_ids = [id(x) for x in sample_set]
new_ids.sort()

print(f"List of ids are {prev_ids} and {new_ids}")

List of ids are [4419615600, 4419616048, 4419826992] and [4419615600, 4419616048]

In [81]:
frozen_set = frozenset(sample_set)
frozen_set.add("country")
frozen_set

AttributeError: 'frozenset' object has no attribute 'add'

### **Dict**
Dict is the collection used in python for mapping purposes. It stores data in key-value pairs. They keys are hashable, but the values are not.
Since python3.6, dictionaries are ordered based on the order of the keys input

In [90]:
mydict = {1 : "tanmay", 2 : "tan_may"}
oldlist = [id(x) for x in mydict.keys()]
mydict[2] = "tan-may"
newlist = [id(x) for x in mydict.keys()]

print(f"old id : {id(mydict)} and idlist: {oldlist}")
print(f"new id : {id(mydict)} and idlist: {newlist}")

old id : 4437648384 and idlist: [4374716664, 4374716696]
new id : 4437648384 and idlist: [4374716664, 4374716696]

Since lists, tuples, sets are dictionaries are all collections, comprehension works on all of them
You can also use the *del* keyword on them.

Instead of accessing a dictionary value using dict[key] one could use dict.get(key) which returns None instead of returning an error.
Dictionary view objects
The objects returned by dict.keys(), dict.values() and dict.items() are view objects. They provide a dynamic view on the dictionary’s entries, which means that when the dictionary changes, the view reflects these changes.

### **String**
Textual data in Python is handled with str objects, or strings. Strings are immutable sequences of Unicode code points. String literals are written in a variety of ways. Both double and single quotes are used to denote single line strings

Multiline strings are denoted with triple quotes

In [115]:
mystr = "Sifive
The 
Future of
Risc V"

SyntaxError: EOL while scanning string literal (1592191095.py, line 1)

Some usefule string methods:
    
    replace: "sifive".replace("s", "sc") = "scifive"
    strip: "sifive".strip("si") = "five" 
    split:  "sifive.split("i") = ["s", "f", "ve"]
    lower: "SIFIVE.lower()" = "sifive"           #similarly upper also
**format**:

In [124]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
print(txt1)
txt2 = "My name is {1}, I'm {0}".format("John",36)
print(txt2)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt3)

My name is John, I'm 36
My name is 36, I'm John
My name is John, I'm 36

## **Functional impact: Lambda, map, reduce and filter**

Some popular functional programming features were added to Python in 1993. Some of them are the 4 mentioned above

**lambda(Anonymous function)**

Often times we need a simple function for a particular application. Using lambda function, we need not define them

In [131]:
def add5abs(num):
    return abs(num + 5)

listforold = [-105, 67, -68, 75, 100, -5]
listfornew = listforold

listforold.sort(key = add5abs)
listfornew.sort(key = lambda x: abs(x + 5))

print(listforold)
print(listfornew)

[-5, -68, 67, 75, -105, 100]
[-5, -68, 67, 75, -105, 100]

You can also assign a variable to a function generated by lambda

In [136]:
mynewfunction = lambda x, y, z: z if x > y else 0
mynewfunction(40, 5, 8)

8

Lambda flows really well with the rest 3 functions

**map**

map function is used to generate a new list after applying some function to one or more old lists

In [138]:
#Taking one list
newlist = list(map(lambda x : x + 5, [0, 5, 10]))
print(newlist)

[5, 10, 15]

In [142]:
#Taking multiple lists
list1 = [0, 1, 1, 2, 3, 8]
list2 = [4, 3, 2, 1, 0]
newmapobject = map(lambda x, y: x > y, list1, list2)
print(list(newmapobject))

[False, False, False, True, True]

In [147]:
#map also works on object methods
capital_list = ["delhi", "bhubaneswar", "bangalore", "bhopal"]
capital_capital = map(str.upper, capital_list)
print(list(capital_capital))

['DELHI', 'BHUBANESWAR', 'BANGALORE', 'BHOPAL']

**filter**

filter, does filtering on a list, not so surprisingly

In [144]:
filteredlist = filter(lambda x: x % 2 == 1, list1)
print(list(filteredlist))

[1, 1, 3]

**reduce**

This function is not present in the standard library and has to be loaded from functools package

Unlike map, which applies a function to all elements of a list and generates a new list, reduce reduces the list to a single element after applying a function to all the elements present.

e.g. Consider that we have to find if all the values in a boolean list are true or not

In [150]:
bool_list = [True, False, True, True, True]
#Iterative approach
def func_old(_list):
    for i in _list:
        if i == True:
            continue
        else:
            return False
    return True

#New, shiny functional approach
from functools import reduce
bool_new = reduce(lambda x, y: x and y, bool_list)

bool_old = func_old(bool_list)
print(bool_old)
print(bool_new)

False
False

By default, reduce takes a function to be applied and the list. The function takes 2 arguments. reduce() starts with the first 2 elements and with the result as the first argument for next iteration, keeps applying the function to the next elements.
You can also add a third parameter to reduce, an initializer. The function would apply itself on the initializer and the first element as a starting point.

In [151]:
#Sure to return false
bool_list = [True, True, True]
bool_new = reduce(lambda x, y: x and y, bool_list, False)

print(bool_new)

False

In [125]:
help(reduce)

NameError: name 'reduce' is not defined

In [128]:
list(filter(lambda x: x == 2, [1, 2, 3, 3]))

[2]

In [152]:
!python

Python 3.8.9 (default, Apr 13 2022, 08:48:06)
[Clang 13.1.6 (clang-1316.0.21.2.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>
KeyboardInterrupt
>>>
>>>

In [154]:
def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)
 

 
kwargs = {"arg12": "Geeks", "arg21": "for", "arg3": "Geeks"}
myFun(**kwargs)

TypeError: myFun() got an unexpected keyword argument 'arg12'

In [160]:
[*af] = "RealPython"
print(af)
print(type(af))
*a, = "RealPython"
print(a)
print(type(a))

['R', 'e', 'a', 'l', 'P', 'y', 't', 'h', 'o', 'n']
<class 'list'>
['R', 'e', 'a', 'l', 'P', 'y', 't', 'h', 'o', 'n']
<class 'list'>

['R', 'e', 'a', 'l', 'P', 'y', 't', 'h', 'o', 'n']